{% if credentials %}
    <div class="panel panel-default">
        <div class="panel-heading">Reporting API credentials</div>
        <div class="panel-body">
            {{ json_import|raw }}
            <table class="table">
                <tbody>
                {% for key, value in credentials %}
                    <tr>
                        <td><b>{{ key }}:</b></td>
                        <td>
                            {% apply spaceless %}
                                {% if value is iterable %}
                                    <ul>
                                        {% for i_value in value %}
                                            <li>{{ i_value }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            {% endapply %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
