{% apply spaceless %}
<article class="{{ render_classes([
    'teaser',
    'teaser--article-large',
    'h-100',
    image ? 'teaser--with-image' : 'teaser--without-image',
    classList|join(' ')
]) }}" data-uuid="{{ uuid }}">
    <a href="{{ permalink }}" class="teaser-link teaser__link">
        <div class="teaser__container">
            {% if image %}
                <div class="teaser__image float-right">
                    {{ render_partial('@base/teasers/partial/image', image) }}
                </div>
            {% endif %}
            <div class="teaser__content">
                {% include '@base/teasers/partial/kicker.twig' %}
                {% include '@base/teasers/partial/headline.twig' %}
                {% include '@base/teasers/partial/leadin.twig' %}
            </div>
            <div class="teaser__footer">
                {% include '@base/teasers/partial/date.twig' %}
                {% include '@base/teasers/partial/byline.twig' ignore missing %}
            </div>
        </div>
    </a>
</article>
{% endapply %}
