{% if content_type == 'quote' %}
  <blockquote class="blockquote-nf">
    <div class="full-column-bq">
      <p class="mb-0">{{ quote }}</p>
    </div>
    <div class="blockquote-footer">{{ source }}</div>
  </blockquote>
{% endif %}