<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" >
   <channel>
      <title><![CDATA[Khaleej Times Feed]]></title>
      <link>http://www.khaleejtimes.com/</link>
      <description><![CDATA[Feeds from Khaleej Times to Quintype]]></description>
      <language>en-gb</language>
      <copyright><![CDATA[Copyright {{ "now"|date("Y") }} Galadari Printing and Publishing LLC.]]></copyright>
       {{ articles|raw }}
   </channel>
</rss>
