<div class="mpu-ad-unit ad-unit d-flex justify-content-center">
  <amp-ad
    width="300"
    height="250"
    type="doubleclick"
    data-slot="{{ slot }}"
    data-multi-size="300x50,320x50,320x100,300x250">
    <div placeholder><b></b></div>
  </amp-ad>
</div>
