<div class="entry-content movie-preview">
  <amp-youtube width="540"
               height="301"
               layout="responsive"
               data-videoid="{{ embedId }}"
  ></amp-youtube>
</div>
