<!-- Ad below main image Start -->
  <div class="col-lg-12 ad-libin-new-ct">
    <amp-ad
    data-block-on-consent
    width="336"
    height="280"
    layout="fixed"
    data-multi-size="300x250,250x250,336x280"
    data-multi-size-validation="false"
    type="doubleclick"
    data-slot="/78059622/KT_AMP_300x250"
    data-enable-refresh="30"
    data-lazy-fetch="true"
    data-loading-strategy="1.25"
    rtc-config='{
     "vendors": {
        "t13": {
          "TAG_ID": "5223cc78-ac98-4624-bb0f-ca3ec433919a",
          "ACCOUNT_ID": "9a3c6c23-453a-4cba-b419-30b908f39a50"
        },
        "aps": {
          "PUB_ID": "600",
          "PUB_UUID": "16268e26-dabe-4bf4-a28f-b8f4ee192ed3",
          "PARAMS": {
            "amp": "1"
          }
        }
      }
   }'
  >
  </amp-ad>
  </div>
<!-- Ad below main image End -->
