{% extends '@base/main.twig' %}

{% block page_content %}
  <main>


  <section class="banner-sect" id="form-class">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
               Test Test Test
          </div>
        <div>
      </div>  

  </section>      



  

  </main>
{% endblock %}