/* --------------------------------------------------------------------------------------------------------- */
/*                                           HAMBURGER CSS                                                   */
/* --------------------------------------------------------------------------------------------------------- */

ul#top-main-menu {
    margin-top: 3.5em;
}

@media (max-width: 667px) {
    .hamburger-menu #top-main-menu {
        width: 100% !important;
    }

    #top-bar .hamburger-menu ul .dropdown-menu {
        left: 0%;
        margin-top: 0;
        width: 100%;
    }

    ul#top-main-menu {
        margin-top: 3.4em;
    }

    .no-top-image ul#top-main-menu {
        margin-top: 2.7em;
    }
}

div#top-bar .hamburger-menu a:hover {
    color: white;
}

.hamburger-menu button#dropdownMenuButton {
    font-size: 14px;
    border-color: transparent !important;
}

@media (max-width: 997px) {
    .hamburger-menu.dropdown i.fa.fa-bars {
        font-size: 26px;
    }
}

@media (max-width: 667px) {
    .hamburger-menu button#dropdownMenuButton {
        font-size: 20px;
    }
}

.hamburger-menu .nav-link:hover {
    background-color: #212121;
}

.hamburger-menu .dropdown-item:hover {
    background-color: #212121;
}

.hamburger-menu.dropdown #menu-hamburger-menu .menu-item-has-children > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#top-main-menu.menu-item-has-children:hover>.dropdown-menu {
    display: block;
    position: absolute;
}

.hamburger-menu.dropdown .menu-item-has-children > a.caret:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.hamburger-menu.dropdown .menu-item-has-children:hover > a.caret:after {
    color: black;
}

.hamburger-menu.dropdown .menu-item-has-children:hover>a:after {
    border-left-color: #fff;
}

.hamburger-menu.dropdown .menu-item-has-children.pull-left {
    float: none;
}

.menu-item-has-children.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#navbarNavDropdown #top-main-menu {
    position: fixed !important;
    transform: none !important;
    top: auto !important;
}

@media (min-width: 667px) {
    #dropdownMenuButton {
        margin: 0.8em 0 0 0;
    }    
}

#dropdownMenuButton {
    background-color: transparent !important;
}   

#dropdownMenuButton.mobile {
    font-size: 22px;
}

#dropdownMenuButton:after {
    display: none;
}
#dropdownMenuButton:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hamburger-menu .top_bar_logo.mobile {
    right: 0px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             HEADER CSS                                                    */
/* --------------------------------------------------------------------------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 667px) {
    .wrapper {
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-left: 0px;
    }
}

div#header-branding {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
}

div#header-branding.center-logo {
    left: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 667px) {
    div#header-branding.center-logo, div#header-branding.right-logo, div#header-branding.left-logo {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    div#header-branding img {
        max-width: 260px;
    }
}

@media (min-width: 667px) {
    .top-bar-widget-right {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (max-width: 1050px) and (min-width: 667px) {
    .top-bar-widget-right {
        margin-left: auto;
        margin-right: auto;
    }
}

.welcomeicon.nosidebar, .login.nosidebar {
    margin-left: auto;
    margin-right: auto;
}

i.welcomeicon {
    padding-right: 8px;
}

@media (max-width: 1050px) and (min-width: 768px) {
    a.navbar-brand.custom-logo-link {
        width: 350px;
        padding-top: 16px;
    }
}

@media (max-width: 767px) {
    a.navbar-brand.custom-logo-link {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .top-bar-widget-right a.weatherwidget-io {
        width: 50%;
        margin-left: auto;
    }
}

.header_search_widget {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header_search_widget input#searchsubmit {
    background-color: #636363;
}

.header-widgets .widget {
    margin-top: auto;
    margin-bottom: auto;
}

.header-widgets .widget-title {
    display: none;
}

.header-widgets .widget_search {
    max-width: 400px;
}

.header-widgets .widget_media_image img {
    width: 500px;
}

.headerleaderboard.advertisement.right.tablet {
    right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}


label#login-modal-username, label#login-modal-password {
    font-size: 20px;
    padding-right: 10px;
}

form#login{
    display: none;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 200px;
    padding: 40px 25px 25px 25px;
    width: 360px;
    height: 380px;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 11px;
}

form#login h1{
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin: 0 0 30px 0;
}

form#login input#username,
form#login input#password{
    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    width: 90%;
    margin: 7px 0 30px 0;
    background-color: #F9F9F9;
}

form#login input#username:focus,
form#login input#password:focus{
    background-color: #FFF;
}


form#login input.submit_button{
    font-size: 13px;
    color: #FFF;
    border: 1px solid #b34336;
    background-color: #e25c4c;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ba3f31;
    padding: 9px 31px 9px 31px;
    background: -moz-linear-gradient(top, #ea6656, #df5949);
    border-top: 1px solid #bb483a;
    border-bottom: 1px solid #a63b2e;
    float: right;
    box-shadow: 0 1px 0 #E87A6E inset;
}

form#login a{
    text-decoration: none;
}

form#login a.close{
    color: #DCDCDC;
    position: absolute;
    right: 15px;
    top: 15px;
}

form#login a.lost {
    float: left;
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
}

form#login p.status{
    text-align: center;
    margin: 0px 0 20px 0;
    display: none;
}

a.login_button{
    padding: 5px 7px 5px 7px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

input.login-modal-button {
    float: right;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 650ms;
    opacity: 1;
    position: fixed;
    z-index: 998;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                            END HEADER CSS                                                 */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                            TOP BAR CSS                                                    */
/* --------------------------------------------------------------------------------------------------------- */

#wrapper-navbar {
    width: 100%;
    z-index: 10;
}

#top-bar .navbar-nav > li > a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#top-bar.no_sidebar_menu .top-bar-user-menu {
    margin-left: auto;
}

@media (max-width: 678px) {
    div#top-bar.no_sidebar_menu {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.top-navigation-login, .top-navigation-welcome  {
    padding-right: 12px;
}

.top-navigation-logout, .top-navigation-register {
    padding-right: 6px;
}

.main-nav-search.mobile {
    padding-top: 26px;
}

@media (max-width: 767px) and (min-width: 679px) {
    .main-nav-search.mobile {
        padding-top: 14px;
    }
}

@media (max-width: 678px) {
    .main-nav-search.mobile {
        padding-top: 10px;
    }
}

.main-nav-search.mobile {
    margin-left: auto;
    margin-right: auto;
}

.main-nav-search.nosidebar.mobile {
    margin-top: 22px;
}


.top-bar-widget-left, .top-bar-widget-right, .top-bar-widget-center {
    margin-top: auto;
    margin-bottom: auto;
}

.top-bar-widget-left p, .top-bar-widget-right p, .top-bar-widget-center p {
    margin-bottom: 0;
}

.top-bar-widget-center {
    text-align: center;
}

.top-bar-right-menu ul{
    margin-left: auto;
}

div#topMenu_center li {
    margin-left: auto;
    margin-right: auto;
}

.top_bar_logo.mobile {
    right: 14px;
}

.top_bar_logo_on_scroll_image {
    display: none;
}

.top_bar_logo_on_scroll.sidebar_menu {
    left: 0%;
}

.top_bar_logo_on_scroll_image {
    margin-top: auto;
    margin-bottom: auto;
}

.top_bar_logo_on_scroll_image img {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.top_bar_logo.mobile img {
    max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-bar-mobile-search {
    font-size: 16px;
}

.top-bar-mobile-search-container {
    bottom: 2px;
}

.top_bar_logo .top-bar-mobile-search, .top_bar_logo .top-bar-user-menu {
    padding-left: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

.top-bar-mobile-search-form.hidden, .top-bar-mobile-search-icon.hidden {
    display: none;
}

.top-bar-mobile-search input.fa.fa-search {
    background-color: transparent;
    border-color: transparent;
    padding-right: 0;
}

.top-bar-mobile-search input.field.form-control.s {
    width: 160px;
}

.top-bar-mobile-search-form input {
    height: 30px;
}

.top-bar-mobile-search-dropdown {
    width: 170px;
}

.top-bar-mobile-search, .top-bar-user-menu {
    display: inline-block;
    padding-left: 20px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                            END TOP BAR CSS                                                */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             FOOTER CSS                                                    */
/* --------------------------------------------------------------------------------------------------------- */

.wrapper.copyright#wrapper-footer {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.above_footer_widget_items {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-logo.center, .footer-logo-contactinfo.center {
    text-align: center;
    padding-top: 20px;
}

.footer-logo-contactinfo.center {
    padding-left: 44px;
}

#footer-menu.center .menu-footer-menu-container {
    margin-left: auto;
    margin-right: auto;
}

.footer-menu {
    display: inline-block;
    float: left;
    font-size: 14px;
}

#footer-menu .pull-left, #footer-menu .pull-right {
    float: none;
}

.footer-menu .footer-heading {
    padding: 0.5rem 1rem;
}

.footer-menus ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-media {
    padding-top: 10px;
}

.footer-social-media.center {
    padding-top: 18px;
}

.footer-social-media-icon {
    padding-right: 12px;
}

.footer-logo-contactinfo {
    padding-left: 10px;
    padding-top: 10px;
}


@media (max-width: 767px){
    img.footer_logo_image {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        margin-top:20px;
    }

    .footer-logo, .footer-logo-contactinfo, .footer-social-media {
        text-align: center;
    }

    .footer-logo-contactinfo.center {
        padding-left: 0px;
    }
}

.footer_copyright {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}


.footer_copyright.center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_copyright.right {
    margin-left: auto;
}

.footer_copyright.left {
    margin-left: 40px;
    margin-right: auto;
}


/* --------------------------------------------------------------------------------------------------------- */
/*                                             END FOOTER CSS                                                */
/* --------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------- */
/*                                             LAYOUT CSS                                                    */
/* --------------------------------------------------------------------------------------------------------- */

body {
    line-height: 1.8;
}

.entry-content {
	letter-spacing: -.03em;
	padding-top: 12px;
}

.page-title {
	padding-bottom: 12px;
}

@media (min-width: 768px){
    #frontpage .content-area {
        padding-left: 0px;
    }
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END LAYOUT CSS                                                */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                            FRONTPAGE SLIDER CSS                                           */
/* --------------------------------------------------------------------------------------------------------- */

.frontpage-slider .entry-title.frontpage-slider.above {
    text-align: center;
    padding-bottom: 16px;
    font-size: 26px;
}

.frontpage-slider .entry-title.frontpage-slider.below {
    text-align: center;
    font-size: 26px;
}

.frontpage-slider .slick-slide img {
    margin: auto;
}

.frontpage-slider .slick-next {
    right: 0px;
}

.frontpage-slider .slick-prev {
    left: 0px;
}

.frontpage-slider .sidebar_both .slick-prev {
    left: -10px;
}

.frontpage-slider .sidebar_both .slick-next {
    right: -10px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END FRONTPAGE SLIDER CSS                                      */
/* --------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------- */
/*                                             FRONTPAGE CATEGORY BLOCKS                                     */
/* --------------------------------------------------------------------------------------------------------- */

.frontpage-category-title {
    padding-top: 18px;
}

.frontpage-category-main.col-12 {
    border-right: solid 1px #cccccc;
}

@media (max-width: 767px) {
    article.teaser.frontpage-category-main {
        padding-bottom: 12px;
        border-bottom: solid 1px #e6e6e6;
    }

    .teaser-frontpage-category-side:first-child {
        padding-top: 10px;
    }
}

hr.frontpage-category-divider {
    margin-top: 0rem;
}

.frontpagecategoryblock.teaser-category.teaser-time-since-published.frontpagecategoryblock {
    padding-bottom: 2px;
}

.entry-title.frontpagecategoryblock, .entry-title.frontpagecategoryblock h2 {
    font-weight: normal;
    line-height: 1.2;
}


.frontpage-category-main .entry-title.frontpagecategoryblock h2 {
    font-size: 26px;
}

.frontpage-category-main .frontpagecategoryblock.opinion .teaser__headline {
    padding-top: 10px;
}

.entry-title.frontpagecategoryblock h2 {
    margin-bottom: 4px;
}

article.teaser-frontpage-category-side:last-child {
    padding-bottom: 12px;
}

.teaser-frontpage-category-side:last-child hr.category_side_divider {
    display: none;
}

.teaser-frontpage-category-side-author {
    font-size: 14px;
    padding-top: 5px;
    color: #2f2f2f;
}

.teaser-image.frontpagecategoryblock {
    padding-bottom: 10px;
}

.teaser-frontpage-category-main-category {
    padding-bottom: 6px;
    font-size: 20px;
}

article.teaser.frontpagecategorylisttop .teaser__headline {
    padding-bottom: 12px;
}

article.teaser.frontpagecategorylistrest .teaser__headline {
    padding-bottom: 12px;
}

article.teaser.frontpagecategorylistrest {
    border-top: solid 1px #cccccc;
    padding-top: 12px;
}

@media (min-width: 767px) {
    .frontpagecategorylisttop .container, .frontpagecategorylistrest .container {
        padding-left: 0;
    }
}

.frontpage-category-main .teaser__headline {
    padding-bottom: 6px;
}

@media (max-width: 767px) {
    .frontpage-category-main .teaser__headline {
        padding-top: 10px;
    }
}

.teaser-frontpage-category-main-time {
    float: right;
    font-family: sans-serif;
    color: #616161;
}

.frontpage-category-main.all-categories .teaser-frontpage-category-main-author {
    font-family: sans-serif;
    color: #616161;
}

.frontpage-category-main .frontpagecategoryblock .teaser__text {
    padding-bottom: 8px;
    color: #3e3e3e;
}

.frontpage-category-main.opinion .teaser-frontpage-category-main-author {
    font-size: 17px;
}

@media (min-width: 768px) {
    .frontpage-category-block-main-border {
        border-right: 1px solid #e6e6e6;
    }
}
@media (max-width: 767px) {
    .frontpage-category-block-main-border {
        border-bottom: 1px solid #e6e6e6;
    }
}

.frontpage-category-block-side-borders article.teaser-frontpage-category-side:not(:first-child) {
    border-top: 1px solid #e6e6e6;
    padding-top: 16px;
 }

@media (max-width: 767px) {
    .frontpage-category-block-side-borders article.teaser-frontpage-category-side:first-child {
        padding-top: 16px;
     }
}

span.teaser-frontpage-category-side-time {
    font-size: 13px;
    color: #616161;
    font-family: sans-serif;
    padding-left: 6px;
}

.teaser-frontpage-category-side.opinion .teaser-frontpage-category-side-author {
    font-size: 16px;
}

.teaser-frontpage-category-side.opinion .entry-title {
    padding-bottom: 4px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END FRONTPAGE CATEGORY BLOCKS CSS                             */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             FRONTPAGE FEATURED TOP CSS                                    */
/* --------------------------------------------------------------------------------------------------------- */

.frontpage-featuredtop {
    padding-top: 35px;
    padding-bottom: 20px;
}

@media (max-width: 767px){
    article.topstories_section_main .entry-title, article.topstories_section_bottom .entry-title {
        text-align: center;
    }

    .frontpagefeaturedtop.teaser-image {
        padding-top: 5px;
        padding-bottom: 20px;
    }


    article.topstories_section_main {
        padding-bottom: 28px;
    }

    .entry-title.frontpagefeaturedtop {
        font-weight: normal;
        font-size: 34px;
        line-height: 1.2;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 768px){
    .frontpagefeaturedtop.teaser-image {
        padding-bottom: 10px;
    }

    .entry-title.frontpagefeaturedtop {
        font-weight: normal;
        font-size: 34px;
        line-height: 1.2;
    }

    .topstories_section_main .teaser-image.image_left, .topstories_section_main .teaser-image.image_above, .topstories_section_main .teaser-content {
        padding-left: 0;
    }    

}
@media (max-width: 768px){
    .topstories_section_main .teaser-body.frontpagefeaturedtop {
        padding-top: 12px;
    }
}
.topstories_section_main {
    padding-bottom: 18px;
}

.frontpagefeaturedtop-bottom-title.mobile .teaser__headline-marker {
    font-size: 18px;
}

.topstories_section_bottom .teaser__headline-marker {
    font-size: 14px;
}

.topstories_section_bottom h2.teaser__headline {
    font-size: 14px;
    line-height: 1.6;
}

.entry-title.frontpagefeaturedtoptitle {
    font-size: 15px;
}

.frontpagefeaturedtop .teaser__headline {
    padding-bottom: 10px;
}
.frontpagefeaturedtop.mobile .teaser__headline {
    padding-bottom: 0px;
}
.teaser-body.frontpagefeaturedtop {
    font-size: 14px;
}
.frontpagefeaturedtop-meta-data {
    padding-top: 10px;
    font-size: 14px;
}

.frontpagefeaturedtop-time {
    text-align: right;
    font-family: sans-serif;
}

.frontpagefeaturedtop-main-author {
    text-align: left;
}

.frontpagecategorylisttop .teaser-image {
    padding-bottom: 18px;
}

.topstories_section_bottom .left-headline, .topstories_section_bottom .right-headline {
    margin-top: 18px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END FRONTPAGE FEATURED TOP CSS                                */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             FRONTPAGE TEASER SIMPLE CSS                                   */
/* --------------------------------------------------------------------------------------------------------- */


.frontpage-teaser-simple .teaser__headline {
    font-size: 18px;
    padding-top: 10px;
}

.teaser-image.frontpage-teaser-simple {
    padding-left: 0;
    padding-right: 0;
}

.frontpage-teaser-simple {
    float: right;
}

.frontpage-teaser-simple .entry-title {
    float: left;
}

.frontpage-simple-teaser {
    padding-top: 12px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END FRONTPAGE TEASER SIMPLE                                   */
/* --------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------- */
/*                                             BREAKING NEWS CSS                                             */
/* --------------------------------------------------------------------------------------------------------- */


.breakingnews-top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

article.breaking-section {
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.breaking span.teaser__headline-marker {
    font-size: 20px;
}

.breaking-teaser .teaser-image img {
    border: 1px solid black;
}

.breaking_title {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
    padding-bottom: 10px;
}

.section-teaser.breaking-teaser {
    padding-bottom: 0px;
}

.breaking_fullLength .breaking-teaser .entry-title h2.teaser__headline {
    font-size: 20px;
}

.breaking_fullLength_title {
    font-size: 18px;
}

article.breaking_fullLength {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    padding-top: 10px;
    padding-bottom: 6px;
}


.breaking_fullLength_title, .breaking_fullLength .entry-title a {
    margin-top: auto;
    margin-bottom: auto;
    bottom: 2px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END BREAKING NEWS CSS                                         */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             SEARCH CSS                                                    */
/* --------------------------------------------------------------------------------------------------------- */

.main-nav-search input#searchsubmit {
    background-color: #636363;
}

article.search-teaser {
    padding-bottom: 28px;
}

.search-teaser .teaser-image {
    padding-left: 0px;
}

.search_results_query {
    padding-bottom: 12px;
}

.searchform .input-group-append .btn {
    z-index: auto;
}

.search_page_form {
    padding-bottom: 10px;
}

.search_page_form input#searchsubmit {
    background-color: #636363;
}

.searchSortFilter, .searchCategoryFilter {
    padding-bottom: 20px;
}

button#searchSortFilter, button#searchCategoryFilter {
    width: 120px;
}

.searchSortFilter .dropdown-item.active, .searchSortFilter .dropdown-item:active, .searchCategoryFilter .dropdown-item.active, .searchCategoryFilter .dropdown-item:active {
    color: #3838d2;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END SEARCH CSS                                                */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             SIDEBAR CSS                                                   */
/* --------------------------------------------------------------------------------------------------------- */

#right-sidebar, #left-sidebar  {
    height: 100%;
}

@media (max-width: 767px) {
    #right-sidebar, #left-sidebar {
        margin-top: 20px;
    }
}

.widget-title {
    font-size: 20px;
    padding-top: 20px;
}

.every_most_read_widget {
    padding-bottom: 8px;
}

li.list-group-item.mostreadtitle {
    background: #636363;
    font-size: 16px;
    color: white;
}

.mostread__headline {
    font-size: 14px;
    color: black;
}

.sidebarmenu.top-bar {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 99;
}

@media (min-width: 767px) {
    .sidebarmenu.top-bar.with-top-image {
        margin-top: 15px;
    }
}

.sidebar_menu_logo {
    bottom: 0;
    position: absolute;
    display: none;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

#menu-sidebar-menu ul.dropdown-menu.show {
    padding: 0px 50px 0px 20px;
    margin-left: 5%;
}

.sidebar-search {
    padding-top: 20px;
    padding-bottom: 10px;
}

.sidebar-search input#searchsubmit {
    background-color: #636363;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END SIDEBAR CSS                                               */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             SECTION FRONT CSS                                             */
/* --------------------------------------------------------------------------------------------------------- */

h1.entry-title {
    padding-bottom: 14px;
}

.section-teaser {
    padding-bottom: 22px;
}

.section-teaser .teaser-image {
    padding-bottom: 14px;
}

.section-teaser .category_overlay {
    text-transform: uppercase;
    padding: 5px;
    position: absolute;
    top: 0;
    font-size: 12px;
}

@media (max-width: 767px) {
    #section-front .entry-header .entry-title {
        padding-left: 22px;
    }

    .section-teaser {
        padding-bottom: 50px;
    }
}

.teaser-content.image {
    padding-left: 10px;
}

.section-teaser.two-columns .teaser-content {
    padding-left: 15px;
}

.section-teaser .figure-img {
    margin-bottom: 0rem;
}

#section-teaser article.post {
    padding-top: 14px;
}

.entry-content article.section-teaser {
    padding-bottom: 32px;
}

hr.section-teaser-two-columns {
    height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.entry-content article.section-teaser.two-columns {
    padding-bottom: 8px;
}

.teaser-article-date {
    color: #464646;
    padding-bottom: 6px;
    font-size: 14px;
}


.section-pagination {
    margin-left: 45%;
}

.section-pagination a {
    color: black;
}

.section-pagination .activepage a {
    background: #464646;
    color: white;
}

@media (min-width: 767px) {
    div#section-front .container {
        padding-left: 0px;
    }
    
    div#section-front .thin-teaser .container {
        padding-left: 15px;
    }
}

.section_front_article {
    padding-bottom: 36px;
}

.section_front_headline {
    font-size: 16px;
    font-weight: bold;
}

.section_front_teaser_text {
    font-size: 14px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END SECTION FRONT CSS                                         */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             START CONCEPT PAGE CSS                                         */
/* --------------------------------------------------------------------------------------------------------- */


.concepts-categoryblock-side .teaser__leadin {
    font-size: 14px;
    padding-top: 4px;
    color: #4e4e4e;
}

hr.concept_page_category_block_divider {
    padding-top: 2px;
    padding-bottom: 14px;
}

@media (min-width: 767px) {
    .concept-page .section-teaser .teaser-image {
        padding-left: 0;
    }
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END CONCEPT PAGE CSS                                         */
/* --------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------- */
/*                                             ARTICLE PAGE CSS                                              */
/* --------------------------------------------------------------------------------------------------------- */

article .post-image {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

@media (max-width: 767px){
    .article-template-single-article .article__headline { 
        font-size: 28px; 
        padding-bottom: 10px;
    } 

    div#article-social-media {
        padding-bottom: 10px;
    }
}

.article-date {
    color: #464646;
    padding-bottom: 12px;
    font-size: 14px;
}

.article-summary {
    display: inline-block;
}


.article-restofcontent iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

section.content-part.content-part--fact.article-factbox {
    float: left;
    margin: 0.5em 1.5em 0.5em 0;
}

@media (max-width: 767px){
    section.content-part.content-part--fact.article-factbox {
        margin-bottom: 32px;
    }
}

.article-page .article-restofcontent {
    padding-top: 12px;
}
.article-page .in-article-ad {
    text-align: center;
    padding-bottom: 24px;
    padding-top: 8px;
}

.article-page .in-article-ad.hidden {
    display: none;
}

.article-factbox {
    padding: 10px 18px;
    border: 1px solid #bdbdbd;
    margin-top: 12px;
    background-color: #f5f5f5;
}

.article-factbox .headline, .article-factbox .content-part__title {
    font-size: 22px;
    text-decoration: underline;
    padding-top: 4px;
}

.article-factbox .body {
    font-size: 13px;
}

.article-factbox .body p {
    margin-bottom: 0;
}

.article__body .article-restofcontent {
    padding-top: 28px;
}

.article__body.article__headline {
    padding-bottom: 10px;
}

.article-template .article-summary {
    padding-top: 10px;
    padding-bottom: 4px;
    margin-top: 14px;
    margin-bottom: 22px;
    font-weight: 600;
}

.article-slider .slick-next {
    right: -30px;
}

.article-slider .slick-prev {
    left: -30px;
}

.article-slider.singleimage {
    padding-bottom: 22px;
}

.article-slider img {
    width: inherit !important;
}
.article-slider div {
    text-align: center;
}

.article-slider div .article_image_caption {
    padding-top: 12px;
}

div .slick-list .draggable {
    height: fit-content;
}

div#article-social-media {
    overflow: hidden;
}

@media (min-width: 768px){
    div#article-social-media {
        padding-bottom: 4px;
    }
}

@media (max-width: 767px){
    div#article-social-media {
        padding-bottom: 10px;
    }
}


@media (max-width: 767px){
    .article-print {
      display: none;
    }
  }

.article-print {
      float: left;
      width: auto;
      background-color: cadetblue;
      height: 26px;
      border-radius: 4px;
      margin-right: 8px;
  }

.article-facebook {
    float: left;
    width: auto;
    background-color: #3B5998;
    height: 26px;
    border-radius: 4px;
    margin-right: 8px;
}

.article-twitter {
    float: left;
    width: auto;
    background-color: #1DA1F2;
    height: 26px;
    border-radius: 4px;
    margin-right: 8px;
}

.article-font-size {
    float: left;
    width: auto;
    background-color: #397f80;
    height: 26px;
    border-radius: 4px;
}
  
.article-print:hover {
    background-color: #477a7b;
  }

.article-facebook:hover {
    background-color: #2c477d;
}

.article-twitter:hover {
    background-color: #1981c1;
}

.article-font-size:hover {
    background-color: #2a5e5f;
  }
  
.article-print i, .article-facebook i, .article-twitter i {
      font-family: FontAwesome;
      font-size: 16px;
      margin: 0 7px;
      padding-bottom: 10px;
      color:white;
}
  
.articleprinttext, .articlefacebooktext, .articletwittertext {
      float: right;
      margin-right: 8px;
      margin-top: 2px;
      font-size: 12px;
      color:white;
}

.article-font-smaller-text, .article-font-text, .article-font-larger-text {
    padding-top: 1px;
    font-size: 12px;
    color: white;
}

@media (max-width: 767px) {
    .articleprinttext, .articlefacebooktext, .articletwittertext {
        font-size: 10px;
  }
  
  .article-font-smaller-text, .article-font-text, .article-font-larger-text {
      font-size: 10px;
  }
}

.article-font-text {
    margin-right: 6px;
    margin-left: 6px;
}

body.print #top-bar, body.print .header-region, body.print .article-social-media , 
body.print #right-sidebar, body.print #left-sidebar, body.print #wrapper-footer, 
body.print #wrapper-navbar, body.print .slickprev, body.print .slick-next, body.print .slick-dots, 
body.print .article-slider .slick-prev, body.print .article-slider .slick-next  {
    display: none !important;
}

.gallery-slider {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.article-tags {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-tags .heading {
    font-weight: 600;
}

.article-page .article__byline-name {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END ARTICLE PAGE CSS                                          */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             ADVERTISEMENTS CSS                                            */
/* --------------------------------------------------------------------------------------------------------- */

.headerleaderboard.advertisement {
    padding-top: 14px;
    padding-bottom: 14px;
}

@media (min-width: 767px) {
    .headerleaderboard.advertisement.right {
        right: 125px;
    }
}

.in-page-front.advertisement {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 767px) {
    div#header-branding.right-logo {
        text-align: right;
        left: 36px;
    }
}

@media (max-width: 767px) {
    .headerleaderboard.left.advertisement {
        padding-left: 0px;
    }

    .headerleaderboard.advertisement {
        padding-left: 0px;
        text-align: center;
    }

    div#header-branding {
        text-align: center;
    }
}

#box-a.advertisement {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.skyscraper.advertisement {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#skyscraper-a.advertisement {
    text-align: center;
    padding-bottom: 16px;
    padding-top: 8px;
}

.underNavAd.advertisement {
    text-align: center;
    padding-top: 12px;
}

.footerAd.advertisement {
    text-align: center;
    padding-bottom: 20px;
}

.dropdown-menu > li:hover > ul {
    display: block;
    position: absolute;

}
#top-bar ul .dropdown-menu {
    left: 100%;
    margin-top: -3em;
}

#top-bar .dropdown-menu ul .dropdown-menu {
    height: 3em;
    left: 100%;
    margin-top: -0.55em;
}
/* if hovering on a 2nd level li, show 2nd dropdown */
.dropdown-menu > li > ul > li:hover > ul {
    display: block;
    position: absolute;
}

/* if hovering on a 3rd level li, show 3rd dropdown */
.dropdown-menu > li > ul > li > ul > li:hover > ul {
    display: block;
    position: absolute;
}
@media (min-width: 667px) {
    .dropdown-menu li > ul > li > ul.dropdown-menu {
        position: relative;
        top: 0;
        left: 100%;
    }
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END ADVERTISEMENTS CSS                                        */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             NAVIGATION CSS                                               */
/* --------------------------------------------------------------------------------------------------------- */

/* if hovering on li, show 1st dropdown */
.navbar-nav > li:hover > ul, #sidebarMenu .list-group > li:hover > ul{
    display: block;
    position: relative;
}

/* if hovering on a 2nd level li, show 2nd dropdown */
.navbar-nav > li > ul > li:hover > ul, #sidebarMenu .list-group > li > ul > li:hover > ul{
    display: block;
    position: relative;
}

/* if hovering on a 3rd level li, show 3rd dropdown */
.navbar-nav > li > ul > li > ul > li:hover > ul, #sidebarMenu .list-group  > li > ul > li > ul > li:hover > ul{
    display: block;
    position: relative;
}

#sidebarMenu .list-group li > ul > li > ul.dropdown-menu {
    position: relative;
    top: 0;
}

#sidebarMenu ul.dropdown-menu {
    width: 90%;
    left: 5%;
}

@media (min-width: 667px) {
    .navbar-nav li > ul > li > ul.dropdown-menu {
        position: relative;
        top: 0;
        left: 100%;
    }
}

.dropdown-item.active, .dropdown-item:active {
    background: none !important;
}

.top-bar-user-menu .welcomeicon {
    font-size: 16px;
}

#top-bar .top-bar-user-menu a {
    color: black;
}

div#top-bar .hamburger-menu .nav-item a {
    color: black;
}

div#top-bar .hamburger-menu .nav-item a:hover {
    color: white;
}

.welcomeicon.mobile, .login.mobile {
    padding-right: 14px;
}

.welcomeicon.mobile.with-top-image , .login.mobile.with-top-image {
    margin-top: 0px;
    padding-bottom: 8px;
}

.main-nav-mobile-search.hidden {
    display: none;
}

.submit.mobile-search-icon {
    width: 55px;
    height: 40px;
}

.submit.mobile-search-icon.hidden {
    display: none;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END NAVIGATION CSS                                            */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             SIDEBAR MENU CSS                                              */
/* --------------------------------------------------------------------------------------------------------- */

@media (max-width: 667px) {
    .topMenuNavbarNav {
        margin-left: auto;
        margin-right: auto;
    }

    .topMenuNavbarNav.contact, .topMenuNavbarNav.socialmedia {
        display: none;
    }
}

.sidebarMenuCloseButton {
    text-align: right;
    padding-right: 25px;
    display: none;
    cursor: pointer;
}

.sidebar-menu-search-above, .sidebar-menu-search-below  {
    width: 85%;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-right: auto;
    display: none;
}

.sidebarMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebarMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidebarMenu a:hover {
    color: #f1f1f1;
}

#top-bar.full-width .sidemenuTrigger {
    padding-left: 34px;
}

#top-bar.full-width {
    padding-left: 8px;
    padding-right: 8px;
}

.sidemenuTrigger {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.sidemenuTrigger.mobile {
    font-size: 26px;
}

.sidemenuTrigger.mobile.with-top-image {
    right: 18px;
}

.sidemenuTrigger.noText {
    font-size: 20px;
}

#sidemenuDim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 350ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

#sidemenuDim.open  {
    visibility: visible;
    opacity: 1;
}

hr.sidebarMenuLine {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    opacity: 0.3;
}

.sidemenuclose .nav-link, .sidemenuclose hr {
    display: none;
}

.sidebarMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END SIDEBAR MENU CSS                                          */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                                 404 PAGE CSS                                              */
/* --------------------------------------------------------------------------------------------------------- */

.pagenotfound_title {
    font-size: 36px;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END 404 PAGE CSS                                              */
/* --------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------- */
/*                                             THIRD PARTY CSS                                               */
/* --------------------------------------------------------------------------------------------------------- */

.timely_calendar {
    padding-bottom: 15px;
    padding-top: 15px;
}

.timely-brand-footer-left, .timely-brand-footer-right {
    display: none;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                             END THIRD PARTY CSS                                           */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                             TEASER TEMPLATE CSS                                           */
/* --------------------------------------------------------------------------------------------------------- */

.teaser.default {
    padding-bottom: 12px;
    padding-left: 15px;
}

.teaser.default .teaser__headline {
    font-size: 22px;
}

.teaser.default .teaser__leadin {
    font-size: 14px;
}

.thin-teaser.left {
    padding-right: 0;
    overflow: -webkit-paged-x;
}

.thin-teaser.right {
    padding-left: 0;
    overflow: -webkit-paged-x;
}

article.thin-teaser {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 12px;
    margin-top: 18px;
    border: solid 1px #9e9e9e;
}

.thin-teaser .teaser__text {
    padding-bottom: 10px;
}

.thin-teaser .teaser__headline-marker {
    font-size: 14px;
    line-height: 1.5;
    display: block;
}

.thin-teaser.thin-teaser-long .teaser__headline-marker {
    font-size: 20px;
}

@media (max-width: 667px) {
    .thin-teaser.thin-teaser-long .teaser__headline-marker {
        font-size: 16px;
    }    

    .thin-teaser .teaser__text {
        font-size: 14px;
    }
}

.teaser-thin-teaser-category {
    font-size: 15px;
    padding-left: 15px;
}

.teaser-thin-teaser-time {
    margin-left: auto;
    padding-right: 18px;
    font-size: 13px;
    font-family: sans-serif;
}

.teaser-thin-teaser-author {
    font-size: 12px;
    position: absolute;
    padding-right: 4px;
}

@media (min-width: 667px) {
    .teaser-thin-teaser-author {
        bottom: 0;
    }
}


/* --------------------------------------------------------------------------------------------------------- */
/*                                             END TEASER TEMPLATE CSS                                       */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                           REGISTRATION CSS                                                */
/* --------------------------------------------------------------------------------------------------------- */

.registration_note {
    font-size: 14px;
    padding-top: 10px;
}

.registration_error_heading {
    font-weight: bold;
    font-size: 20px;
    color: #902f2f;
}

/* --------------------------------------------------------------------------------------------------------- */
/*                                           END REGISTRATION CSS                                            */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/*                                              STAFF CSS                                                    */
/* --------------------------------------------------------------------------------------------------------- */

#staff-page .staff {
    padding-top: 20px;
    padding-right: 20px;
}

#staff-page .staff .name {
    font-size: 24px;
    font-weight: 900;
    border-bottom: solid 3px black;
    padding-bottom: 4px;
}

#staff-page .staff .phone, #staff-page .staff .email {
    font-size: 14px;
}

#staff-page .staff .social-media a {
    color: black;
    padding-right: 6px;
}

#staff-page .staff .social-media {
    padding-bottom: 2px;
    padding-left: 10px;
    font-size: 18px;
}

#staff-page .staff .phone {
    padding-top: 8px;
}

#staff-page .staff .image {
    padding-top: 6px;
}

#staff-page .phone i, #staff-page .email i {
    padding-right: 8px;
}

#staff-page .description {
    padding-top: 12px;
}

#staff-page .staff-teaser {
    padding-top: 12px;
}

.staff_page_content {
    padding-top: 20px;
    padding-right: 20px;
}

.staff_page_content .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: solid 3px black;
    margin-bottom: 10px;
}

.staff_page_content .section-teaser .teaser-image {
    padding-left: 0;
}

.staff-teaser span.teaser__headline-marker {
    color: black;
}


/* --------------------------------------------------------------------------------------------------------- */
/*                                              END STAFF CSS                                                */
/* --------------------------------------------------------------------------------------------------------- */