<div class="embed-responsive embed-soundcloud">
  <amp-soundcloud height="301"
                  layout="fixed-height"
                  data-trackid="{{ trackId }}"
                  data-visual="true">
  </amp-soundcloud>
</div>
