<amp-iframe width=600 height=120
              layout="responsive"
              sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
              resizable frameborder="0"
              title="Khaleej Times article sharebar"
              src="https://api.khaleejtimes.com/Home/social_share?{{ vuukleSource }}"><div overflow tabindex=0 role=button aria-label="">Read more...</div>
    <amp-img layout="fixed" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif" width="10" height="10" alt="KT Share Loading" placeholder></amp-img>
</amp-iframe>
