<?xml version="1.0" encoding="utf-8"?>
<rss  version="2.0">
   <channel>
      <title>Khaleej Times Feed</title>
      <link>https://www.khaleejtimes.com/</link>
      <description>Feeds from Khaleej Times</description>
      <language>en-gb</language>
      <copyright><![CDATA[Copyright {{ "now"|date("Y") }} Galadari Printing and Publishing LLC.]]></copyright>
       {{ articles|raw }}
   </channel>
</rss>