{% if contentsubtype != 'SPONSOREDCONTENT' %}
	{% if adGroup == 'homepage' %}
		<!-- /78059622/Responsive-Homepage-1x1 -->
		<div id='div-gpt-ad-1613624729466-0' style='width: 1px; height: 1px;'>
			<script>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613624729466-0'); });
			</script>
		</div>
		
	<!-- /78059622/Responsive-Homepage-1x2 
  <div id='div-gpt-ad-1671083442093-0'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1671083442093-0'); });
    </script>
  </div>  
  --> 
  
  
  
  
	{% elseif adGroup == 'article' %}
		<!-- /78059622/Responsive-Article-1x1 -->
		<div id='div-gpt-ad-1613625644855-0' style='width: 1px; height: 1px;'>
			<script>
			var init=0;
			if(init==1)
			{
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613625644855-0'); });
		  }
			</script>
		</div>

		<!-- /78059622/Responsive-Article-2 -->
		<div id='div-gpt-ad-1636113966289-0'  style='width: 1px; height: 1px;'>
			<script>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1636113966289-0'); });
			</script>
		</div>

		<!-- /78059622/Responsive-Article-1x1-3 -->
		<div id='div-gpt-ad-1637151091152-0'  style='width: 1px; height: 1px;'>
			<script>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1637151091152-0'); });
			</script>
		</div>
		
		
		
		<!-- /78059622/Responsive-Desktop-Expandable-1x1 -->
      <div id='div-gpt-ad-1624862944429-0' style="height:0px">
        <script>
        var init=0;
		if(init==1)
			{
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1624862944429-0'); });
			}
        </script>
      </div>
	<!-- /78059622/Responsive-Anchor-320x50 --> 
<!-- <div id='div-gpt-ad-1641368885970-0' style='min-width: 300px; min-height: 50px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1641368885970-0'); });
  </script>
</div>
--> 

	{% else %}
		<!-- /78059622/Responsive-Section-1x1 -->
		<div id='div-gpt-ad-1613625028360-0' style='width: 1px; height: 1px;'>
			<script>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613625028360-0'); });
			</script>
		</div>
	{% endif %}
{% endif %}
