<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="social_footer pt-5 pb-3">
    <ul class="pr-0">
      <li class="fb-color lazyload"><a href="https://www.facebook.com/khaleejtimes" target="_blank"  aria-label="Facebook"><i class="fab fa-facebook-f lazyload"></i></a></li>
       <li class="tw-color lazyload"><a href="https://twitter.com/khaleejtimes" target="_blank" aria-label="Twitter"><i class="fab fa-x-twitter twitter-svg" aria-hidden="true"><svg viewBox="0 0 24 24" aria-label="Twitter" role="img" style="width:17px;height:17px;"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="currentColor"></path></g></svg> </i></a></li>
      <li class="yt-color lazyload"><a href="https://www.youtube.com/khaleejtimes" target="_blank" aria-label="Youtube"><i class="fab fa-youtube lazyload"></i></a></li>
      <li class="insta-color lazyload"><a href="https://instagram.com/khaleejtimes" target="_blank" aria-label="Instagram"><i class="fab fa-instagram lazyload"></i></a></li>
      <li class="linkedin-color lazyload"><a href="https://www.linkedin.com/company/khaleejtimes" target="_blank" aria-label="Linkedin"><i class="fab fa-linkedin-in lazyload"></i></a></li>
      <li class="telegram-color lazyload"><a href="https://t.me/khaleejtimes" target="_blank" aria-label="Telegram"><i class="fab fa-telegram lazyload"></i></a></li>
      <li class="whatsapp-color lazyload"><a href="https://www.whatsapp.com/channel/0029Va5dROu3bbUxk7Jh2503" target="_blank" aria-label="Whatsapp"><i class="fab fa-whatsapp lazyload"></i></a></li>
    </ul>
  </div>
</div>
