{% extends '@projectPlugin/components/admin.twig' %}

{% block form %}
    <div class="form-group">
        <label>Title:</label>
        {{ form.input('title', title, { class: 'form-control' })|raw }}
    </div>

    <div class="form-group">
        <label>Link:</label>
        {{ form.input('link', link, { class: 'form-control' })|raw }}
    </div>
{% endblock %}
