<div class="gcc-prayertimings-wrap">
  <div class="row">
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Tokyo</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1850147/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Beijing</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1816670/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Singapore</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1880251/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Bangkok</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1609350/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">New Delhi</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1261481/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Bengaluru</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1277333/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Mumbai</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1275339/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Chennai</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1264527/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Islamabad</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1176615/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Karachi</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1174872/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Dhaka</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1185241/shafi/3/0/18.0/18.0'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Colombo</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer-widget/1248991/shafi/3/0/18.0/18.0'
      } %}
    </div>
  </div>
</div>
