{% apply spaceless %}
<!-- standard subsection teaser -->
  <article class="post left-image-right-content-subsection" data-uuid="{{ uuid }}">
    {% if image %}
      <div class="post-thumbnail">
        <a href="{{ permalink }}">
          {{ render_partial('@base/teasers/partial/image', image|merge({ 'alttext': headline|striptags|replace({'"':'\''}) })) }}
        </a>
      </div>
    {% endif %}
    <div class="entry-container">
      <div class="entry-header">
        {% if sectionName %}
          <p class="category-btn">
            {% include '@base/teasers/partial/concept.twig' %}
          </p>
        {% endif %}
        {% include '@base/teasers/partial/headline.twig' %}
      </div>
      <div class="entry-summary">
        {% include '@base/teasers/partial/leadin.twig' %}
        <p class="category">
          {% if sectionName %}
            {% include '@base/teasers/partial/concept.twig' %}
          {% endif %}
          <!-- {% include '@base/teasers/partial/date.twig' %} -->
          {% include '@base/teasers/partial/icons.twig' %}
        </p>
      </div>
    </div>
  </article>
{% endapply %}
