<div class="ew-facebook">
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    <div class="fb-post" data-href="{{ url }}"
         data-width="auto"
         data-show-text="true">
        <blockquote cite="{{ url }}" class="fb-xfbml-parse-ignore"></blockquote>
    </div>
</div>
