<div class="ew-facebook">
    <div class="fb-page"
         data-href="{{ url }}"
         data-lazy="true"
         data-width="650"
         data-hide-cta="true"
    >
        <blockquote cite="{{ url }}" class="fb-xfbml-parse-ignore"></blockquote>
    </div>
</div>
