<div class="ew-facebook">
    <div class="fb-video"
         data-href="{{ url }}"
         data-allowfullscreen="true"
         data-show-text="true"
         data-width="auto"
         data-lazy="true"
    >
        <blockquote cite="{{ url }}" class="fb-xfbml-parse-ignore"></blockquote>
    </div>
</div>
