<div class="overflow-hidden ew-twitter">
    <blockquote class="twitter-tweet tw-align-center"><a href="{{ url }}">Twitter</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js"></script>
</div>
