<div class="ew-vimeo" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="embedURL" content="{{ url }}" />
	<div class="video__vimeo" data-plyr-provider="vimeo" data-plyr-embed-id="{{ embedId }}"></div>
</div>
