<div class="responsive-embed no-padding-mobile ew-youplay" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <div class="responsive-embed__item" itemprop="embedURL" >{{ embedCode|raw }}</div>
</div>
