<div class="ew-youtube" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="embedURL" content="{{ url }}" />
	<div class="video__youtube" id="{{ id }}" data-plyr-provider="youtube" data-plyr-embed-id="{{ embedId }}" data-start="{{ start }}"></div>
</div>
