<div class="module-5 billboard-banner">
  <div id='div-gpt-ad-{{ ad_id }}'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ ad_id }}'); });
    </script>
  </div>
</div>
