


<div class="row align-items-stretch tabs-content-viral d-none d-lg-flex">
  <div class="col-12 board-col-xs-12 board-col-sm-12 board-col-md-12 board-col-lg-12 tabs-main-heading-lb">
    <div class="rendered_board_widget content-size-xs-12 content-size-sm-12 content-size-md-12 content-size-lg-12">
      <div class="tabs-kt-viral">
        <div class="tabs-kt-viral-head-1 active-tab">Recommended</div>
        <div class="tabs-kt-viral-head-1">Going Viral</div>
      </div>
    </div>
  </div>
  <div class="col-12 board-col-xs-12 board-col-sm-12 board-col-md-12 board-col-lg-12 tabs-content-inner-viral  goinviral-rt-netcore-{{ skip }}" style="display: block;">
    <div class="rendered_board_widget content-size-xs-12 content-size-sm-12 content-size-md-12 content-size-lg-12">
      <div class="ew-article-list__container"> 
        <!--  <header class="ew-article-list__header">
									     <h2 class="ew-article-list__title bordered-left">
									         Going Viral
									      </h2>
									   </header> -->
        <div class="ew-article-list__body recommend-rt-netcore-{{skip}}">
          <ul class="ew-article-list__content">
            <li class="ew-article-list__item">
              <article>
                <div class="entry-item">
                  <h4><a href="https://www.khaleejtimes.com/life-and-living/keep-your-hands-happy-essential-hand-care-tips" class="color-underline stretched-link">Keep your hands happy: Essential hand care tips</a></h4>
                </div>
              </article>
            </li>
            <li class="ew-article-list__item">
              <article>
                <div class="entry-item">
                  <h4><a href="https://www.khaleejtimes.com/life-and-living/how-much-sleep-do-you-really-need-2" class="color-underline stretched-link">How much sleep do you really need? </a></h4>
                </div>
              </article>
            </li>
            <li class="ew-article-list__item">
              <article>
                <div class="entry-item">
                  <h4><a href="https://www.khaleejtimes.com/life-and-living/headache-different-types-of-headaches-and-their-remedies" class="color-underline stretched-link">Headache: Different types of headaches and their remedies </a></h4>
                </div>
              </article>
            </li>
            <li class="ew-article-list__item">
              <article>
                <div class="entry-item">
                  <h4><a href="https://www.khaleejtimes.com/business/dubai-gold-pricing-why-an-attraction-for-gold-enthusiasts" class="color-underline stretched-link">Dubai gold pricing: Why an attraction for gold enthusiasts? </a></h4>
                </div>
              </article>
            </li>
            <li class="ew-article-list__item">
              <article>
                <div class="entry-item">
                  <h4><a href="https://www.khaleejtimes.com/life-and-living/essential-hair-care-tips-for-beautiful-and-healthy-locks" class="color-underline stretched-link">Essential hair care tips for beautiful and healthy locks</a></h4>
                </div>
              </article>
            </li>
          </ul>
        </div>
        <footer class="ew-article-list__footer"></footer>
      </div>
    </div>
  </div>
  <div class="col-12 board-col-xs-12 board-col-sm-12 board-col-md-12 board-col-lg-12 tabs-content-inner-viral" style="display: none;">
    <div class="rendered_board_template_widget">
      <div class="ew-article-list__container"> 
        <div class="ew-article-list__body">
          <ul class="ew-article-list__content">		  
        {{get_list_viral()|raw}}
          </ul>
        </div>
        <footer class="ew-article-list__footer"></footer>
      </div>
    </div>
  </div>
</div>