<article class="breaking-section">
	<div class="breaking_title">BREAKING NEWS</div>
	 <div class="container">
    	<div class="row">

        {% if articles %}
            {{ articles | raw }}
        {% endif %}

        </div>
    </div>
</article>
