.teaser.teaser--article-medium {

  .teaser__headline {
    font-size: $teaser-title-font-size-sm;
    font-weight: 700;
    line-height: 28px;
  }

  .figure {
    margin: 0;
  }

  .figure-img {
    margin-bottom: 0;
  }

}
