.teaser.teaser--article-below {

  .teaser__headline {
    font-size: $teaser-title-font-size-sm;
    font-weight: $teaser-title-font-weight;
    line-height: 28px;
  }

  .teaser__image .figure {
    margin: 0 !important;
  }

}
