<div class="row">
  <div class="col-lg-12">
    <div class="article-top-author-nw-nf">

      <div class="article-top-author-nw-nf-right">
        {% include "@base/article/meta-pubdate.twig" %}
      </div>
    </div>
  </div>
</div>
{% if tealiumGroup == 'article'%}
 {% if (contentsubtype == 'VIDEO') or  (contentsubtype == 'GALLERY') %}    
  <div id="adsolut-section"></div>
 {% endif %}
  {% endif %}