<div class="entry-content movie-preview">
  <iframe src="https://www.youtube.com/embed/{{ embedId }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="width: 630px; height: 354.375px;" width="560" height="315" frameborder="0"></iframe>
</div>