<div class="gcc-prayertimings-wrap">
  <div class="row">
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">London</h5></div>
       {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=united_kingdom&city=london&state=17&latitude=51.5000&longitude=-0.1167&timezone=0&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Paris</h5></div>
       {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=france&city=paris&state=00&latitude=48.8667&longitude=2.3333&timezone=1&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Berlin</h5></div>
       {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=germany&city=berlin&state=16&latitude=52.5167&longitude=13.4000&timezone=1&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Amsterdam</h5></div>
       {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=netherlands&city=amsterdam&latitude=52.3500&longitude=4.9167&timezone=1&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
  </div>
</div>
