<div class="gcc-prayertimings-wrap">
  <div class="row">
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Washington</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=usa&city=washington&state=AR&latitude=33.7512&longitude=-93.6688&timezone=-6&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&shaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">New York</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=usa&city=new_york&state=NY&latitude=40.7500&longitude=-73.9967&timezone=-5&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Los Angeles</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=usa&city=los_angeles&state=CA&latitude=33.9733&longitude=-118.2487&timezone=-8&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Chicago</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=usa&city=chicago&state=IL&latitude=41.8858&longitude=-87.6229&timezone=-6&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Toronto</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=canada&city=toronto&state=ON&latitude=43.7061&longitude=-79.5152&timezone=-5&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Ottawa</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=canada&city=ottawa&state=ON&latitude=45.3560&longitude=-75.7579&timezone=-5&HanfiShafi=1&pmethod=1&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=1&prayerIsha=Isha'
      } %}
    </div>
  </div>
</div>
