<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 footer__container--button">
				<button type="button" id="button-back-to-top" class="btn btn-secondary">
					{{ __('Back to top', 'ew-base-theme-2') }}<i class="fas fa-arrow-up"></i>
				</button>
			</div>
		</div>
		{{ render_sidebar('ew-footer') }}
	</div>


</div>
