<div class="container">
    <div class="row">
        <div class="col-md-12 logo-area">
            <a href="/">
                <img src="{{ get_option('custom_logo') }}" class="img-fluid logo-img" alt="{{ get_bloginfo('name') }} logo">
            </a>
        </div>
    </div>
</div>
