<div class="d-none d-xl-block">
    <div id="top-ad-div" class="top-ad-div">
        <div id="leaderboard">
            <!-- WME-Large-Leaderboard-970x90 -->
            <script>
                googletag.cmd.push(function() { googletag.display('leaderboard'); });
            </script>
        </div>
    </div>
</div>
