.logo-area {
  display: flex;
  align-items: center;
  height: 50px;
  img {
    max-height: 32px;
  }
  @include media-breakpoint-up(md) {
    height: 60px;
    img {
      max-height: 38px;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 80px;
    img {
      max-height: 50px;
    }
  }
}
