{% apply spaceless %}
     {% set counter=counter+1 %} 
  <!-- notice teaser no image -->
  
  <div class="row world-list-without-thumb-stories-main">
  <article class="world-list-without-thumb-stories" data-uuid="{{ uuid }}">
     <div class="post-title-rows">
                      <div class="heading">
                        <h4> <a href="{{ permalink }}" title="{{ headline }}"> {{headline|striptags|replace({'"':'\''})}} </a> </h4>
                      </div>
                    </div>
  </article>
  </div>
  
{% endapply %}
