{% extends '@base/main.twig' %}

{% block site_content %}
    {% block section_menu %}
        {{ get_template_part('partials/section-menu') }}
    {% endblock section_menu %}

    <div class="wrapper">
        {{ board_content|raw }}
    </div>
{% endblock %}