{% extends '@base/main.twig' %}

{% block site_content %}
    {#{% block sub_navigation %}#}
        {#{% include '@base/page/part/sub-menu.twig' %}#}
    {#{% endblock %}#}

	{% block page_content_wrapper %}
	    <div class="wrapper">
	        <article class="article-page">
				<div class="article-page__body px-2">
					<h1 class="article-page__heading mt-3 mb-4">{{ get_the_title()|raw }}</h1>
					{% block page_content %}{{ content|raw }}{% endblock %}
				</div>
	        </article>
	    </div>
	{% endblock %}
{% endblock %}