      {% if articles is not empty %}
        {% for article in articles %}
          {% set article = article|merge({"indexs": loop.index}) %}
        {{ render_partial('@base/teasers/standard-subsection-teaser-search.twig', article) }}
		   {% if loop.index == 2 %}
		   <!-- googleoff: index -->
		   <div id="adsolut-listing"></div>
		   <!-- googleon: index -->
		   
		   {% endif %}
          {% if loop.index == 5 %}
            <div class="mpu-ad-unit ad-unit">
              <!-- /78059622/Responsive-Section-Leaderboard-2 -->
              {% include "@base/page/part/ad.twig" with { ad_id: '1613547811534-0' } %}
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <h1>Sorry, we didn't find what you were searching for.</h1>
      {% endif %}
