<footer id="main-footer" class="site-footer hidden-print my-4">
    <div class="site-footer__brand text-center small">
	    <span>Powered by Everyware, <a class="text-muted" href="https://www.infomaker.se/">Infomaker.se</a></span>
    </div>
</footer> <!-- /#main-footer -->
{{ wp_footer() | raw }}