{% extends '@base/main.twig' %}

{% block page_head %}
    <title>{{ headline }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="{{ get_bloginfo( 'charset' ) }}"/>
{% endblock %}
{% block page_content %}
    <main class="site-container container-border my-4">
        <div class="row">
            <div class="col-xl-12 text-center py-5 pb-5">
                <h1>{{ headline }}</h1>
                {{ password_form|raw }}
            </div>
        </div>
    </main>
{% endblock %}
