 <p class="prayer-details">
  <span class="prayer-day">{{ "now"|date("l") }}</span>
  <span class="sep">|</span>
  <span class="prayer-date">{{ "now"|date("M d, Y") }}. {{ islamicdate ?? '' }}</span>
</p>
