<div class="row no-gutters">
  <div class="col-12">
    <div class="definition">
  {% if every_device == 'mobile' %}   
    <div class="mpu-ad-unit ad-unit lib-prayer-timing-mpu-ad">
<!-- /78059622/Responsive-Section-MPU-1 -->
<div id='div-gpt-ad-1613549489900-0' style='min-width: 300px; min-height: 250px; float:none; margin:0px auto; text-align:center; '><script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613549489900-0'); });
</script>
</div> </div>

{% endif %}

      <h4>Muslim prayers: Salah timings, Adhan and rakat</h4>
      <p><b>Salah</b></p>
      <p>
        Salah, meaning ‘prayer’ or ‘supplication’, is also known as Namaz among non-Arab Muslims.
        Salah is one of the five pillars of Islam, which form the core beliefs and practices of the religion.
        The five pillars are:
      </p>
      <ul>
        <li>Profession of faith (Shahada). There is no God but Allah, and Prophet Muhammad (PBUH) is the messenger of God.</li>
        <li>Prayer (Salah)</li>
        <li>Charity (Zakat)</li>
        <li>Fasting (Sawm)</li>
        <li>Pilgrimage (Haj)</li>
      </ul>
      <p>
        Salah is obligatory for adult Muslims and prayer times are set according
        to the movement of the Sun and performed five times a day as follows:
      </p>
      <ul>
        <li>Fajr: Dawn, before sunrise</li>
        <li>Dhuhr: Midday, after the Sun passes its highest poin</li>
        <li>Asr: The late part of the afternoon</li>
        <li>Maghrib: Just after sunset</li>
        <li>Isha: Between sunset and midnight</li>
      </ul>

      <h4 class="font-weight-bold">Praying in the masjid</h4>
      <p>
        Muslims can pray anywhere. However, many Muslims pray in congregation in a masjid. 
        A masjid is a place of worship for Muslims. 
        Praying together in a congregation helps Muslims realise that all humanity is one and all are equal under the eyes of God.
      </p>
      <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2021/03/23174746/Salah-Rakats-.jpeg" class="img-fluid" />

      <h4 class="font-weight-bold">Jumuah</h4>
      <p>
        Apart from the five daily prayers, there is an obligatory Friday (Jumuah) prayer. 
        This prayer is offered in a congregation with a sermon on Fridays, in place of the noon prayer.
      </p>

      <h4 class="font-weight-bold">Adhan: A call to prayer</h4>
      <p>
        The public call to prayer is called Adhan. The Adhan is delivered from the masjid by a muezzin, 
        who is the masjid's designated caller of prayer. During the call to prayer, 
        the muezzin recites the following Takbir (glorification of God) "Allahu akbar", 
        which translates as "Allah is great".
      </p>

      <h4 class="font-weight-bold">The full call to prayer is as follows:</h4>
      <p>
        Allahu Akbar (God is great)<br />
        Ashhadu an la ilaha illallah (I bear witness that there is no God except the One God)<br />
        Ashadu anna Muhammadar Rasool Allah (I bear witness that Muhammad is the messenger of God)<br />
        Hayya' ala-s-Salah (Hurry to the prayer, or rise up for prayer)<br />
        Hayya' ala-l-Falah (Hurry to success, or rise up for salvation)<br />
        Assalatu khairum-minan-naum (Prayer is better than sleep. This is only recited for the morning prayer.)<br />
        Allahu Akbar (God is Great)<br />
        La ilaha illallah (There is no God except the One God)
      </p>

      <h4 class="font-weight-bold">What is the significance of the Adhan?</h4>
      <p>
        The Adhan is delivered five times a day to invite Muslims to perform obligatory prayers. 
        It is common to hear the call to prayer in public in countries with significant Muslim population. 
        The Adhan is usually recited from the minaret of masjids and 
        is usually delivered facing towards the Holy Kaaba in Makkah.
      </p>

      <h4 class="font-weight-bold">Performing wudu before salah</h4>

      <p>Wudu is ablution or an act of washing the body before performing prayers or the recitation of the Holy Quran.</p>
      <p>
        For a step by step guide on performing wudu, have a 
        <a href="https://www.khaleejtimes.com/uae/ramadan-in-dubai-uae-all-you-need-to-know-about-the-holy-month">look at here.</a>
      </p>

      <h4 class="font-weight-bold">Rakats in Salah</h4>
      <p>
        A rakat consists of the recommended movements and recitation of verses of the Holy Quran 
        practiced by Muslims while offering prayers to Allah. 
        It also refers to a single unit of Islamic prayers.
      </p>

      <h4 class="font-weight-bold">Fajr</h4>
      <p>
        Fajr salah should be performed in the last part of the night and before sunrise. 
        Fajr salah consists of two obligatory rakats, known as Fard.
      </p>

      <h4 class="font-weight-bold">Dhuhr</h4>
      <p>
        Dhuhr salah is the second prayer of the day and is offered at noon. 
        This prayer comprises four obligatory rakats.
      </p>

      <h4 class="font-weight-bold">Asr</h4>
      <p>
        Asar salah is performed in the afternoon after the Dhuhr prayer. 
        This prayer comprises four obligatory rakats.
      </p>

      <h4 class="font-weight-bold">Maghrib</h4>
      <p>
        Maghrib salah should be offered at sunset. 
        Magrib salah consists of three obligatory rakats.
      </p>

      <h4 class="font-weight-bold">Isha</h4>
      <p>
        The fifth prayer of the day is the Isha salah. 
        It includes four obligatory rakats.
      </p>

      <h4 class="font-weight-bold">There are also other prayers along with these five compulsory prayers:</h4>
      <p>
        Jumuah prayer (offered on Fridays at noon). <br />
        Tahjjud prayer (offered in the early hours of the morning. However, it is not compulsory).<br />
        Tarawih prayer (offered with the Isha prayer and only takes place during the holy month of Ramadan).<br />
        Eid prayers (offered on Eid Al Fitr and Eid Al Adha).
      </p>

      <h4 class="font-weight-bold">The benefits of different positions while performing salah:</h4>
      <p>
        There are various positions while performing salah, which include Qiyam, Ruku, Sajdah and Tashshhud. 
        There are numerous benefits in these actions such as:
      </p>
      <ol>
        <li>
          Qiyam (standing): It ensures proper blood flow to the lower portion of the body, strengthening the leg muscles.
        </li>
        <li>
          Ruku (bowing): This posture is good for the lower vertebral column. 
          It relieves and prevents back pain. It involves stretching of elbows, wrists, knees and ankles, 
          thus developing flexibility around all these areas of the body.
        </li>
        <li>
          Sajdah (prostration): The act of low bowing or prostration to God towards the qiblah. 
          Sajdah maintains blood flow to the brain and stimulates the pituitary gland and pineal gland.
        </li>
        <li>
          Tashahhud (sitting posture): The posture is similar to the Vajrasana, a significant Yoga position. 
          The position is said to strengthen the thigh and calf muscles, improve digestion, 
          and keep the spine straight and erect.
        </li>
      </ol>
    </div>
  </div>
</div>
