<div class="gcc-prayertimings-wrap">
  <div class="row">
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Manama</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=bahrain&city=manama&state=02&latitude=26.2361&longitude=50.5831&timezone=3&HanfiShafi=1&pmethod=4&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=0&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4  col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Doha</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=qatar&city=doha&state=01&latitude=25.2867&longitude=51.5333&timezone=3&HanfiShafi=1&pmethod=4&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=0&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center"><h5 class="font-weight-bold">Kuwait City</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=kuwait&city=kuwait&state=00&latitude=29.3697&longitude=47.9783&timezone=3&HanfiShafi=1&pmethod=4&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=0&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Muscat</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=oman&city=muscat&state=06&latitude=23.6133&longitude=58.5933&timezone=4&HanfiShafi=1&pmethod=4&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=0&prayerIsha=Isha'
      } %}
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="clearfix text-center mt-5"><h5 class="font-weight-bold">Riyadh</h5></div>
      {% include "@base/page/part/prayer-timings/iframe.twig" with {
        url: 'https://www.islamicfinder.org/prayer_service.php?country=saudi_arabia&city=riyadh&state=10&latitude=24.6700&longitude=46.6900&timezone=3&HanfiShafi=1&pmethod=4&fajrTwilight1=10&fajrTwilight2=10&ishaTwilight=10&ishaInterval=30&dhuhrInterval=1&maghribInterval=1&dayLight=0&prayerIsha=Isha'
      } %}
    </div>
  </div>
</div>
