<div class="row">
  <div class="col-lg-12">
    <div class="mpu-ad-unit ad-unit">
      <!-- Insert this to the BODY section where the docking player should render -->
      <amp-video-iframe
          src="https://live.primis-amp.tech/content/video/amp/videoIframe.php?s=116255&schain=1.0,1!triple13.io,1797,1"
          width="16"
          height="9"
          layout="responsive"
          dock="#primis-dock-slot"
      >
      </amp-video-iframe>
      <div style="right: 1px; position: fixed; top: 20px;">
          <amp-layout
              width="213"
              height="120"
              id="primis-dock-slot">
          </amp-layout>
      </div>
    </div>
  </div>
</div>
