<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center d-block">
      <amp-ad
      data-block-on-consent
      width="320"
      height="100"
      layout="fixed"
      data-multi-size-validation="false"
      type="doubleclick"
      data-slot="/78059622/khaleejtimes_AMP_Top"
      data-enable-refresh="30"
      data-lazy-fetch="true"
      data-loading-strategy="1.25"
      rtc-config='{
       "vendors": {
          "t13": {
            "TAG_ID": "b53a6c19-43b6-4bdd-bca0-c430ad03914f",
            "ACCOUNT_ID": "9a3c6c23-453a-4cba-b419-30b908f39a50"
          },
          "aps": {
            "PUB_ID": "600",
            "PUB_UUID": "16268e26-dabe-4bf4-a28f-b8f4ee192ed3",
            "PARAMS": {
              "amp": "1"
            }
          }
        }
     }'
    >
    </amp-ad>
    </div>
  </div>
</div>
