{% extends '@base/main.twig' %}

{% block page_content %}
  <main>

   <section class="banner-sect" id="form-class">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-7 col-md-12 ph-screen-wrap">
            <div class="ph-screen">
              <div class="sreen-1">
                <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image5.png" class="screen-img-1">
                <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image6.gif" class="screen-img-2">
                </div>
                <div class="sreen-2">
                 <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image7.png" alt="">
                 <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image8.gif" alt="" class="screen-img-4">
              </div>
            </div>
           
            <div class="text-banner">
             <h1> Let us tell your Brands story.</h1>
              <ul>
                  <li>Let Khaleej times tell the story of your brand, in the most immersive and interactive ways. </li>
                  <li>Drive Brand recognition.</li>
                  <li>Use Existing Material.</li>
                  <li>Create unforgettable experiences.</li>
                </ul>  

            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 ph-form">
            <form>
              <legend>Let’s chat
                <small>We’d like to learn more about you:</small>
                </legend>
              <div class="form-group">
                <label for="exampleInputname1">Name</label>
                <input type="name" class="form-control" id="exampleInputname1" aria-describedby="nameHelp">
               
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               
              </div>
              <div class="form-group">
                <label for="exampleInputphone1">Phone Number</label>
                <input type="phone" class="form-control" id="exampleInputphone1" aria-describedby="phoneHelp">
               
              </div>
              <div class="form-group">
                <label for="exampleInputindustry1">Industry</label>
                <input type="industry" class="form-control" id="exampleInputindustry1">
              </div>
            
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="sect-two">
      <div class="container">
        <div class="sect-two-in">
        <div class="row">
          <div class="col-12">
            <h2>Bring content to life, Embed Interactive experiences<br> that capture user attention and<br> bring your products to life
            </h2>
          </div>

          <div class="col-12 mob-slide">
            <div class="slide-mob">
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image13.png" alt="" class="sd-mob">
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image13.png" alt="" class="sd-mob-2">
              <div class="text-in">
                <p>Kia made its Indian debut with the launch of the Seltos and has ever since then been giving stiff competition to its rivals. The Korean carmaker however is now all set to introduce the Kia Seltos facelift in India.
                </p>
              </div>
              <div class="swiper-in">
                <div class="swp-in">
                  <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image15.png" alt="">
                </div>
                <div class="swiper mySwiperLanding">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image11.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image14.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image12.jpg" alt="">
                    </div>
                    <div class="swiper-slide" style="background-image:url(https://api.khaleejtimes.com/sales-landingpage/colord-images/image16.gif) ;">
                      <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/dynam-size.png" alt="">
                      <a href="#" class="book">Book Now</a>
                    </div>
                    <div class="swiper-slide">
                      <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image12.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image11.jpg" alt="">
                    </div>
                   
                  </div>
                  
                </div>
              </div>
             

              <div class="text-in in-botom">
                <p>after the launch of this new iteration in the South Korean market at a starting price of 20.62 million Won (approx INR 12.57 lakh). Check out all the details of this new iteration of the Seltos and what to expect in India.

                </p>
              </div>

            </div>
           
          </div>
        </div>
      </div>
      </div>
    </section>

    <section class="sect-three">
      <div class="container">
        <div class="row"> 
          <span class="fq-shape"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/fq-shape8.png" alt=""></span>
          <div class="col-xl-5 col-lg-5 screen-qr-text">

            <h2>
              <span>Drive real world Sales</span>

              <span> Showcase your products</span>
              
              <span>Drive Foot fall to your stores</span>
              </h2>
          </div>
          <div class="col-xl-7 col-lg-7 screen-qr">
            
            

            <div class="screen-qr-in">
              
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image17.gif" alt="">
            </div>

            <div class="qr-in">
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image18.png">
              <h3>Scan and experience 
              </h3>
              <a href="#form-class">Contact Us</a>
            </div>
          </div>
          


         
        </div>
      </div>
    </section>

    <section class="sect-four">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-7 screen-qr">
            <div class="screen-qr-in">
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image21.png" alt="">
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image22.gif" alt="" class="gf-vid">
            </div>
            <div class="qr-in">
              <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/image18.png">
              <h3>Scan and experience 
              </h3>
              <a href="#form-class">Contact Us</a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 screen-qr-text">
            <h2>
              <span>Create Interactive videos with touch points that shape the audience’s experience.


              </span>
              </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="sect-five">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-12 mx-auto screen-mobs">
           
             <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/mob1.png" alt="">
             <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/mob2.png" alt="">
             <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/mob3.png" alt="">
          </div>
          <div class="col-xl-11 col-lg-12 mx-auto screen-qr-text">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <h2>

                  <span>Use Augmented reality </span>
    
                  <span>To Create Rich and Unapparelled experiences either on print or geographically </span>
    
                 </h2>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="col-12 bottom-text">
                  <h4>Your Imagination is your only limitation.</h4>
                  <p>“Innovation is not the product of logical thought, although the result is tied to logical structure”
                   <strong> -Albert Einstein </strong>
           </p>
                </div>
              </div>
            </div>
           
           
          </div>
         
        </div>
      </div>
    </section>
  <section class="sect-six">
  
    <div class="container">
      <div class="row">
        <h2>Approach</h2>
        <img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/graph.jpg" alt="">
        </div>
        </div>
  </section>
  <section class="sect-seven">
    <div class="wrap-bg">
    <div class="container">
      <div class="row">
        <h2>Our Clients</h2>
        <div class="swiper sldSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg1.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg2.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg3.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg4.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg5.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg6.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg7.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg8.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg9.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg10.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg11.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg12.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg13.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg14.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg15.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg16.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg17.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg18.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg19.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg20.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg21.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg22.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg23.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg24.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg25.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg26.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg27.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg28.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg29.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg30.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg31.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg32.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg33.jpg"></div>
            <div class="swiper-slide"><img src="https://api.khaleejtimes.com/sales-landingpage/colord-images/lg34.jpg"></div>
          </div>
          <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
        </div>
        </div>
        </div>
      </div>
  </section>

  </main>
{% endblock %}