.primary-header { margin-bottom:0rem !important }

.footer { margin-top:0rem!important}
section {
    float: left;
    width: 100%;
    position: relative;
}
.banner-sect, .sect-two, .sect-three, .sect-four, .sect-five, .sect-six, .sect-seven { position: relative;}

.ph-form form {
    border: 0;
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 60px 40px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  
    position: relative;
    float: right;
}
.ph-form form legend{
    font-size: 34px;
    color: #282828;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
}

.ph-form form legend small{
    font-weight: 400;
    font-size: 20px;
    display: block;

}

section.banner-sect {
   
    /*padding-top: 80px;  padding-bottom: 90px;*/
    padding-top: 20px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh;*/
    min-height: 85vh;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 936' style='enable-background:new 0 0 1920 936;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bfill:url(%23SVGID_3_);%7D .st2%7Bopacity:0.31;fill:url(%23SVGID_4_);%7D .st3%7Bopacity:0.17;fill:url(%23SVGID_5_);%7D .st4%7Bopacity:0.69;fill:url(%23SVGID_6_);%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='1920' height='936'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3ClinearGradient id='SVGID_3_' gradientUnits='userSpaceOnUse' x1='110.3797' y1='-191.1833' x2='1559.759' y2='645.6162'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cpath class='st1' d='M1920,0c0,0-464,789.1-1123,855.1c0,0-497,100.5-797-366.5V0H1920z'/%3E%3ClinearGradient id='SVGID_4_' gradientUnits='userSpaceOnUse' x1='104.4066' y1='-167.045' x2='1553.7899' y2='669.7568'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cpath class='st2' d='M1920,13.8c0,0-464,817.7-1123,886.1c0,0-497,104.1-797-379.8V13.8H1920z'/%3E%3ClinearGradient id='SVGID_5_' gradientUnits='userSpaceOnUse' x1='102.1058' y1='-141.3857' x2='1539.4196' y2='688.4479'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cpath class='st3' d='M1904,35.5c0,0-460.1,817.7-1113.6,886.1c0,0-492.9,104.1-790.4-379.8V35.5H1904z'/%3E%3ClinearGradient id='SVGID_6_' gradientUnits='userSpaceOnUse' x1='204.9919' y1='462.4162' x2='547.2227' y2='660.0032'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cellipse class='st4' cx='375' cy='560.6' rx='197' ry='194.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: bottom center;
    background-size: cover;
    
}
.slide-mob:after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 600 500' style='enable-background:new 0 0 600 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.69;fill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='91.4601' y1='129.7544' x2='511.5615' y2='372.3'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cellipse class='st0' cx='300.2' cy='250.2' rx='241.8' ry='238.2'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 240px;
    height: 220px;
    background-size: cover;
    content: "";
    bottom: -50px;
    z-index: -1;
    left: -70px;
    display: block;
}

.sect-two-in {
    background: #ddd;
    background-image: url(https://api.khaleejtimes.com/sales-landingpage/colord-images/bg-gradient.webp);
    border-radius: 30px;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ph-form form .form-group label{
    margin-bottom: 0;
    font-size: 13px;
}
.ph-form form .form-group input{
    border: 0;
    border-bottom: 1px solid #000;
    min-height: 30px;
    color: #282828;
    font-size:14px;
    border-radius: 0;
    padding: 0;
}  
.ph-form form .form-group input:focus{
    box-shadow: none;
    outline: 0;
}
.btn:focus{
outline: 0;
box-shadow: none;
}
button.btn.btn-primary {
    border: 0;
    width: 100%;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2095e4;
    border-radius: 2px;
    margin-top: 10px;
    background-image: -webkit-linear-gradient(137deg, #1d72f1 0%, #17c8fc 100%);
    background-image: -o-linear-gradient(137deg, #1d72f1 0%, #17c8fc 100%);
    background-image: linear-gradient(313deg, #1d72f1 0%, #17c8fc 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.sreen-1 img, .sreen-2 img  {
   width: 100%;
}


img.screen-img-2 {
    position: absolute;
    top: 42px;
    width: 93%;
    margin: 0 auto;
    right: 0;
    left: 0;
    /* height: 162px; */
}
.sreen-2 img{
    width: 100%;
}
.sreen-2 {
    position: relative;
    display: inline-flex;
    width: 220px;
    left: 0;
    margin-left: 2%;
    /* margin-left: 17rem; top: 50px;*/
    top: 30px;
}
.sreen-1 {
    position: relative;
    max-width: 225px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}
.ph-screen {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
}
img.screen-img-4 {
    position: absolute;
    top: 42px;
    width: 93%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.text-banner {
    margin-top: 30px;
    float: left;
    width: 100%;
    color: #fff;
}

.text-banner h1{
    font-size: 42px;
    font-weight: 700;
}
.text-banner h1, .text-banner p {
    color: #FFF;
}
.text-banner h1 {
    margin-bottom: 1.2rem;
}

.text-banner ul {
    margin: 0;
    padding: 0;
}
.text-banner ul li {
    color: #FFF;
    font-family: 'proxima_novabold';
    font-family: 'proxima_novaregular';
    line-height: 1.6;
    list-style: square;
    margin-left: 20px;
}
/* section.banner-sect:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    border-right: 100vw solid #fff;
    border-top: 200px solid transparent;
    width: 0;
    z-index: 0;
} */
.ph-form {
 z-index: 1;
}
section.sect-two {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
section.sect-two h2{
    font-size: 30px;
    /* background: -webkit-linear-gradient(#166ea9, #2095e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: right;
    font-weight: 700;
    color: #000;
    
}
img.sd-mob {
    background-color: #fff;
    border-radius: 30px 34px 34px 30px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mob-slide{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .slide-mob{
    position: relative;
  }
.slide-mob img {
    /*max-width: 260px;*/
    max-width: 272px;
    position: relative;
    z-index: 9;
}
.text-in {
    max-width: 265px;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 53px 23px 23px;
    z-index: 9;
}
.text-in p {
    font-size: 11px;
}   
.text-in.in-botom {
    top: auto;
    bottom: 0;
    padding: 13px 23px 19px;
}

.slide-mob {
    position: relative;
    width: 100%;
    max-width:1010px;
    margin: 0 auto;
    z-index: 9;
}
img.sd-mob-2 {
    position: absolute;
    left: 0;
    z-index: 99;
}
.sect-two-in{
    position: relative;
}
.sect-two-in:after{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 600 500' style='enable-background:new 0 0 600 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.69;fill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='91.4601' y1='129.7544' x2='511.5615' y2='372.3'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cellipse class='st0' cx='300.2' cy='250.2' rx='241.8' ry='238.2'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 240px;
    height: 220px;
    background-size: cover;
    content: "";
    top: 0;
    z-index: 1;
    right: 0;
    display: block;
    opacity: 0.2;
}

.sect-seven .mySwiperLanding .swiper-button-next, .swiper-button-prev { top: 61%; }

.swiper.mySwiperLanding { overflow: hidden;}

.swiper.sldSwiper {
    margin-top: 40px;
    width: 100%;
    margin: 30px auto 0;
    padding: 0 40px;
	overflow: hidden;
	position: relative;
}

.swiper-in .swiper-slide img{
    width: 100%;
    max-width: 100%;
}
.swiper-in .swiper-slide{
    background-size: cover;
    background-repeat: no-repeat;
}
.swiper-in {
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0;
    padding: 37px 19px 11px;
    z-index: 9;
}
.swp-in img {
    width: 49px;
    margin-left: 10px;
    margin-top: 8px;
}

.swp-in {
    width: 250px;
    height: 256px;
    background: #000;
    position: absolute;
    left: 10px;
    top: 0;
}
a.book {
    position: absolute;
    bottom: 19px;
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 14px;
    padding: 6px 19px;
    text-decoration: none;
}

.sect-three{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
   background-size: cover;
    background-image: url(https://api.khaleejtimes.com/sales-landingpage/colord-images/bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
}
span.fq-shape {
    top: -50px;
    left: -50px;
    z-index: 1;
    position: absolute;
}
span.fq-shape img{
    max-width: 100%;
}
.screen-qr-in img {
    width: 100%;
}
.screen-qr-in {
    max-width: 260px;
    position: relative;
}
.qr-in img {
    width: 225px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #fff;

}
.screen-qr {
    display: flex;
    align-items: center;
}
.qr-in {
    text-align: center;
    padding: 50px;
}
.qr-in h3 {
    font-size: 29px;
    margin-top: 14px;
    margin-top: 20px;
    margin-bottom: 0.8rem;
}
.qr-in a {
    display: inline-block;
    border-radius: 4px;
    border: 0px solid red;
    background: #2095e4;
    color: #fff;
    padding: 10px 25px;
    margin-top: 7px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  
    min-height: 55px;
    
    text-align: center;
    background-image: -webkit-linear-gradient(137deg, #1d72f1 0%, #17c8fc 100%);
    background-image: -o-linear-gradient(137deg, #1d72f1 0%, #17c8fc 100%);
    background-image: linear-gradient(313deg, #1d72f1 0%, #17c8fc 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 30px;
   
    
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.screen-qr-text{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
position: relative;
z-index: 9;
}
.sect-five .screen-qr-text {
    
    margin-top: 50px;
}

.screen-qr-text h2 {
    font-weight: 700;
   
    text-align: left;
    font-size: 30px;
    line-height: 40px;
}
.screen-qr-text h2 span {
    display: block;
    margin: 0 0 7px;
    position: relative;
    padding-left: 38px;
    background: -webkit-linear-gradient(#166ea9, #2095e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.screen-qr-text h2 span:after {
    content: "";
    border: 2px solid #2196f3;
    float: left;
    position: absolute;
    left: 0;
    top: 9px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.screen-qr-text h2 span:before {
    content: "";
    background: #ffc107;
    float: left;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}
.sect-four {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f8f8f8;
    background-image: url(https://api.khaleejtimes.com/sales-landingpage/colord-images/fq-shape6.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.sect-four .screen-qr:after, .sect-four:after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 600 500' style='enable-background:new 0 0 600 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.69;fill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='91.4601' y1='129.7544' x2='511.5615' y2='372.3'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cellipse class='st0' cx='300.2' cy='250.2' rx='241.8' ry='238.2'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 240px;
    height: 220px;
    background-size: cover;
    content: "";
    top: 0;
    z-index: 1;
    right: 0;
    display: block;
    opacity: 0.1;
}
.sect-four:after {
    top: auto;
    bottom: auto;
    left: auto;
    right: 0;
    opacity: 0.2;
    width: 19%;
    height: 69%;
}
img.gf-vid {
    top: 59px;
    position: absolute;
    left: 0;
    width: 92%;
    right: 0;
    margin: 0 auto;
}
.sect-five{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(230 249 255);
    z-index: 9;
}
section.sect-five:after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 361' style='enable-background:new 0 0 1920 361;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Crect class='st0' width='1920' height='936'/%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='168.1534' y1='-291.2502' x2='1707.0807' y2='597.2499'%3E%3Cstop offset='0' style='stop-color:%232E9EFF'/%3E%3Cstop offset='0.2084' style='stop-color:%233495FF'/%3E%3Cstop offset='0.5547' style='stop-color:%23447BFF'/%3E%3Cstop offset='0.9944' style='stop-color:%235F52FF'/%3E%3C/linearGradient%3E%3Cpath class='st1' d='M44.8,333c0,0,166-86,398.8-51s279.3,66,433.9-8s347.9-107,543.7-18s500.7-54,500.7-54V0H0v333H44.8z'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 100%;
    height: 450px;
    content: "";
    background-repeat: no-repeat;
    background-position: top center;
    top: 0;
    z-index: -1;
    background-size: cover;
    opacity: 0.7;
}
.screen-mobs img{
    max-width: 217px;
    margin-right: 5px;
    margin-left: 5px;
}
.screen-mobs img:nth-of-type(2) {
    margin-top: 80px;
}
.screen-mobs {
    text-align: center;
}
.bottom-text {
    text-align: left;
    margin-top: 0;
}
.bottom-text h4{
    font-weight: 700;
    font-size: 24px;
    color: #2095e4;
}

.bottom-text p strong{
    display: block;
}
.bottom-text p{
    font-size: 20px;
    max-width: 520px;
    margin: 0 auto;
    font-weight: 300;
    margin-bottom: 0;
}
.sect-six{
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background:#f8f9fb;
}
.sect-seven{
    padding-top: 100px;
    padding-bottom:100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    overflow: hidden;
    background:#ffffff;
}
.sect-six img {
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
}
.sect-six h2, .sect-seven h2{
    font-weight: 700;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 36px;
    background: -webkit-linear-gradient(#166ea9, #2095e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.swiper.sldSwiper {
    margin-top: 40px;
    width: 100%;
    margin: 40px auto 0;
    padding:0 40px;
    position: relative;
    overflow: hidden;
}
.swiper.sldSwiper .swiper-slide img{
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
}
.sect-seven .swiper-button-next:after, .sect-seven .swiper-button-prev:after {
    color: #fff;
    font-size: 16px;
}
.sect-seven .swiper-button-next, .sect-seven .swiper-button-prev {
    width: 37px;
    height: 37px;
    background: #1a80c3;
    border-radius: 100%;
}
.ph-screen-wrap {
    position: relative;
    z-index: 1;
}
.wrap-bg {
   /*width: 93%;*/
    width: 75%;
    background: #ddd;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 70px;
    
    background-repeat: no-repeat;
    background-size: cover;
  
    background-color: #d0ecf9;
}
.bottom-text {
    text-align: left;
    margin-top: 0;
    background: #fff;
    padding: 29px 30px;
    border-radius: 20px;
    box-shadow: 0 0 18px #c8e6f0;
}

.sldSwiper .swiper-button-next {
    right: 0;
    left: auto;
}
.sldSwiper .swiper-button-prev {
    left: 0px;
    right: auto;
}

/* 2095e4 */

@media(max-width:1199.98px){
    .slide-mob img {
        /*max-width: 220px;*/
        max-width: 270px;
       
    }
    .swp-in {
       /* width: 202px;
        height: 196px;*/
        width: 250px;
        height: 235px;
        background: #000;
        position: absolute;
        left: 10px;
        top: 0;
    }
    .screen-qr-text h2 {
        
        font-size: 23px;
        line-height: 31px;
    }
}
@media(max-width:991.98px){
    .ph-form form {
        
        float: none;
        margin: 0 auto;
    }
    .text-banner {
        margin-top: 70px;
        float: left;
        width: 100%;
        color: #fff;
        margin-bottom: 25px;
    }
    section.sect-two h2 {
        font-size: 20px;
        
    }
    span.fq-shape {
      
        width: 22%;
    }
    .screen-qr-text {
        order: 2;
        justify-content: flex-start;
        margin-top: 40px;
    }
    .bottom-text p{
        margin: 0;
    }
    section.banner-sect { padding-bottom: 90px;}

    .slide-mob img {
        max-width: 225px;
    }
    .text-in {
        max-width: 230px;
    }
    .text-in p {
        font-size: 10px;
    }
    .span.fq-shape {z-index: -1;}

    .bottom-text { margin-top: 40px;}

}


@media (min-width:768px) and (max-width: 990px) {
.slide-mob img {max-width: 252px;}

.swp-in {width: 237px;}

}

@media(max-width:767.98px){
    .qr-in img {
        width: 165px;
        
    }
    .screen-mobs img {
        max-width: 137px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .text-banner h1 {
        font-size: 32px;
    }
}

@media(max-width:575.98px){
    .sreen-1, .sreen-2{
        width: 160px;
        max-width: none;
    }
    .text-banner h1 {
        font-size: 30px;
        
    }
    .text-banner {
        margin-top: 50px;}
    .ph-form form{
        padding: 30px 20px;
    }
    .ph-form form legend {
        font-size: 25px;
        
    }
    section.sect-two{
        padding-top: 0;
    }
    .sect-two-in {
        position: relative;
        padding: 50px 20px 0;
    }
    section.sect-two h2 {
        font-size: 20px;
        text-align: center;
    }
    section.sect-two h2 br{
        display: none;
    }
    .mob-slide {
   
        text-align: center;
    }
    .slide-mob img {
        max-width: 220px;
        margin: 0 auto;
        right: 0;
    }
    .text-in {
        max-width: 220px;
        position: absolute;
        width: 100%;
        top: 0;
        padding: 40px 20px 23px;
        z-index: 9;
        text-align: left;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .swp-in {
        width: 202px;
        height: 196px;
        background: #000;
        position: absolute;
        left: 0px;
        top: 0;
        right: 0;
        margin: 0 auto;
    }
    .swiper-in {
        position: absolute;
        top: 30%;
        width: 220px;
        left: 0;
        padding: 37px 19px 11px;
        z-index: 9;
        right: 0;
        margin: 0 auto;
    }
    .text-in.in-botom {
        top: auto;
        bottom: 0;
        padding: 16px 21px 7px;
    }
    img.sd-mob-2{
        display: none;
    }
    .screen-qr {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .screen-qr-in {
        max-width: 220px;
        position: relative;
    }
    .qr-in {
        text-align: center;
        padding: 0;
        margin-top: 30px;
    }
    .screen-qr-text h2 {
        font-size: 20px;
        line-height: normal;
        font-weight: 500;
    }
    .screen-qr-text h2 span:after{
        top: 3px;
    }
    .screen-qr-text h2 span{
        padding-left: 32px;
    }
    .screen-mobs img {
        /*max-width: 90px;*/
        max-width: 31%;
        margin-right: 2px;
        margin-left: 2px;
    }
    section.sect-five:after{
        height: 260px;
    }
    .sect-five .screen-qr-text {
        margin-top: 30px;
    }
.bottom-text {
        margin-top: 25px;
    }
    .sect-seven {
        padding-top: 40px;
        padding-bottom: 40px;
       
    }
    .sect-six h2, .sect-seven h2{
        font-size: 28px;
    }
    .swiper.sldSwiper {
       
        margin: 10px auto 0;
        padding: 0 40px;
    }
    img.screen-img-4 {
        
        top: 34px;
      
    }
    img.screen-img-2 {
        
        top: 33px;
        
    }
    .ph-form form legend small {
      
        font-size: 16px;
    }
    .wrap-bg { width: 93%;}

    .text-in p {margin-bottom: 1rem;}
}

@media (max-width: 567px) {
    .primary-header.mob-mb-nf { margin-bottom: 0rem !important;}
}


@media(max-width:335px){
    .screen-mobs img {
        max-width: 90px;
        max-width: 31%;
        margin-right: 0px;
        margin-left: 0px;
    }
}